In [6]:
liczby = []
napisy = []
imiona = ["Jan", "Edward", "Joanna"]
liczby.append(1)
liczby.append(2)
liczby.append(3)
napisy.append("witaj")
napisy.append("swiecie")

# Tu umiesc swoj kod
drugie_imie = imiona[1]


# Ten fragment kodu wypisze wypelnione przez ciebie
# tablice oraz drugie imie w tablicy imion (Edward).
print (liczby)
print (napisy)
print ("Drugim imieniem w tablicy jest %s." % drugie_imie)

[1, 2, 3]
['witaj', 'swiecie']
Drugim imieniem w tablicy jest Edward.

In [9]:
x = object()
y = object()

# zmien ten kod
x_tab = [1,2,3,4,5,6,7,8,9,10]
y_tab = [10,9,8,7,6,5,4,3,2,1]
duza_tab = x_tab + y_tab

print ("x_tab zawiera %d obiektow" % len(x_tab))
print ("y_tab zawiera %d obiektow" % len(y_tab))
print ("duza_tab zawiera %d obiektow" % len(duza_tab))

# sprawdzenie poprawnosci
if x_tab.count(x) == 10 and y_tab.count(y) == 10:
    print ("Prawie zrobione...")
if duza_tab.count(x) == 10 and duza_tab.count(y) == 10:
    print ("Doskonale!")

x_tab zawiera 10 obiektow
y_tab zawiera 10 obiektow
duza_tab zawiera 20 obiektow

In [11]:
dane = ("Jacek", "Darek", 44.4)
formatowany_napis = "Czesc"

print ("Czesc %s i %s temperatura na zewnatrz to %d stopni Celcjusza" % dane)

Czesc Jacek i Darek temperatura na zewnatrz to 44 stopni Celcjusza

In [13]:
# Zmien ponizszy kod
liczba = 16
druga_liczba = 0
pierwsza_tablica = [1,2,3]
druga_tablica = [1,2]

if liczba > 15:
    print ("1")

if pierwsza_tablica:
    print ("2")

if len(druga_tablica) == 2:
    print ("3")

if len(pierwsza_tablica) + len(druga_tablica) == 5:
    print ("4")

if pierwsza_tablica and pierwsza_tablica[0] == 1:
    print ("5")

if not druga_liczba:
    print ("6")

1
2
3
4
5
6

1
2
3
4
5
6
7
8